// Theme 101

$primary: #1a237e !default;
$secondary: #b0bec5 !default;
$success: #00c853 !default;
$info: #00b0ff !default;
$warning: #afb42b !default;
$danger: #b71c1c !default;
$light: #bdbdbd !default;
$dark: #212121 !default;
